.no-margin {
  margin: 0px;
}

.user-page-name {
  width: 468px;
  height: 125px;
  font-family: 'Roboto';
  font-size: 48px;
  font-weight: 400;
  margin-bottom: 5px;
  line-height: 62px;
}

.user-page-position {
  width: 272px;
  height: 84px;
  font-family: 'Roboto';
  font-size: 32px;
  font-weight: 400;
  line-height: 42px;
  margin-bottom: 110px;
}

.user-page-col-padding {
  padding-right: 13px;
}

.title-field {
  height: 84px;
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 24px;
  /* width: fit-content */
}

.title-field-title {
  font-size: inherit;
  font-weight: inherit;
  /* line-height: inherit; */
  margin-bottom: 8px;
  height: 18px;
  line-height: 18px;
  /* width: fit-content; */
}

.title-field-value {
  font-size: inherit;
  font-weight: inherit;
  /* line-height: inherit; */
  height: 48px;
  line-height: 20px;
  padding-left: 8px;
  margin-bottom: 0px;

  display: flex;
  align-items: center;
  /* width: fit-content; */
}

.img-col {
  /* display: flex; */
  /* justify-content: center; */
  /* align-items: center; */
  /* align-content: center; */
  /* justify-items: center; */
  margin-left: 169px;
  padding-right: 0px;
}



.main-body {
  margin-left: 33px;
}



.edit-button {
  width: 556px;
  height: 56px;
  font-family: 'Roboto';
  font-size: 16px;
  color: #323130;
  font-weight: 500;
  background-color: white;
  border: 1px #8e8c8a solid;
  border-radius: 2px;
}

.img {
  object-fit: cover;
}

.font-props-inherit {
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
}



.no-padding {
  padding: 0px;
}
